<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CF Progress Observer</title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/navbarstyle.css">
        <link rel="stylesheet" href="/css/aboutstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/2a2db20aec.js" crossorigin="anonymous"></script>
        
        
        <style>
            .fa {
            font-size: 30px;
            width: 30px;
            text-align: center;
            text-decoration: none !important;
            border-radius: 50%;
            }
            .fa-small {
            font-size: 20px;
            text-align: center;
            text-decoration: none !important;
            border-radius: 50%;
            }
        </style>
    </head>
<body>
  <header class="box-shadow">
    <div class="section logo">
      <img src="/img/logoimg.webp" class="logoimg" alt="">
       <a href="/"><span class = "logo">CF VIZ</span></a>
    </div>
  

    <div class="section">
      <ul>
        <li><i class="fa-sharp fa-solid fa-house"></i><a href="/">Home</a></li>
        <li><i class="fa-solid fa-user"></i><a href="/about">About</a></li>
        <li><i class="fa-solid fa-bell"></i><a href="/contest-calender">Contest Calender</a></li>
      </ul>
    </div>
  </header> 
          <div class="container mt-5">
    
            <div class="row d-flex justify-content-center">
                
                <div class="col-md-7">
                    
                    <div class="card p-3 py-4">
                        
                        <div class="row">
                          <div class="col-md-5 ml-3">
                            <img src="/img/about.jfif" width="200" height="200" class="rounded-circle">
                          </div>
                          <div class="col">
                            <h2 class="mt-2 mb-0">Divyanshu Upreti</h5>
                            <span>Problem Solver</span>
                            <div class="">
                              <br>
                                <p class="fonts">Hi 👋🏻, I am a pre-final year undergrad at kamla Nehru Institute of Technology pursuing a Bachelor of Technology in Computer Science and Engineering.</p>
                                <a href="https://d-ivyanshu.github.io/Personal-Portfolio/"><button class="buttons px-4 ms-3">Know More</button></a>  
                            </div>
                          </div>
                        </div>
                        
                     
                    </div>
                </div> 
            </div>           
        </div>

        
</body>
</html>




