@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@500&family=Roboto+Mono&display=swap');

/* body{ */
	/* Created with https://www.css-gradient.com */
/* background: #5F59F7;
background: -webkit-linear-gradient(bottom right, #5F59F7, #3BF9F6);
background: -moz-linear-gradient(bottom right, #5F59F7, #3BF9F6);
background: linear-gradient(to top left, #5F59F7, #3BF9F6);
} */


.handleimg img{
	border-radius: 10px;
} 

.handleimg img{
	-webkit-animation: action 1s infinite  alternate;
    animation: action 0.9s infinite  alternate;
}

@-webkit-keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

@keyframes action {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#about{
	padding: 10px 0;
	color: black;
}

.container2{
	padding: 0px 10%;
}

.rows{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis: 35%;
}

.about-col-2{
	flex-basis: 60%;
}

.cardHandle{
	padding: 30px;
	font-size: 17px;
	background-color: white;
	/* background-color: rgb(0, 255, 251); */
	border-radius: 10p;
	
}

.cardHandle{

	/* border: 3px solid rgb(183, 255, 255); */
	padding: 17px;
	border-top: 4px solid cyan;
	box-shadow: 0px 30px 40px -20px hsl(234, 12%, 34%);
	/* box-shadow: 10px 10px 35px #262626; */
	border-radius: 10px;
	color: #262626;
}

.head{
	background-color: aqua;
}

.info{
	padding: 25px;
}

.info p{
	color: rgb(90,90,90);
    
	/* font-family: 'Merriweather', serif; */
 /* font-family:  Oxygen, sans-serif; */
}

.linkk img{
	width: 60px;
	height: 60px;
}

.headingCard{
	background-color: aqua;
}

.cardcontainer{
	border-top: 4px solid cyan;
	border-radius: 10px;
	box-shadow: 0px 30px 40px -20px hsl(234, 12%, 34%);
	margin: 20px;
}



@media only screen and (max-width: 600px){
	
	.about-col-1, .about-col-2{
		flex-basis: 100%;
	}

	.about-col-1{
		margin-right: 30px;
	}

	.about-col-2{
		font-size: 14px;
	} 

	.info{
		padding: 2px;
	}	
	
	#about{
		/* padding: 0 0; */
		color: black;
	}
	
	.container2{
		width: 250px;
		padding: 0;
		left: 0;
	}

	.handleimg{
		display: none;
	}
 
}